body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  user-select: none;
  background-color: #e6e3e3;
}
.container {
  max-width: 400px;
  text-align: center; /
}
.form-floating {
  margin-bottom: 15px;
}
/* Center the image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.text-body-secondary {
  color: #6c757d;
}
@media (max-width: 576px) {
  .form-floating {
    margin-bottom: 10px;
  }
  .btn-primary {
    padding: 8px;
  }
}



